.card {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.containerName {
  text-align: center;
}

.name {
  font-size: 1rem;
  font-weight: bold;
  text-transform: capitalize;
}

.spin {
  text-align: center;
  height: 100px;
}
