*,
body {
  font-family: "Montserrat", sans-serif;
}

.content {
  background-color: #fff;
}

.logo {
  position: absolute;
  top: 8px;
  left: 8px;
  width: 80px;

  @media screen and (min-width: 768px) {
    left: 20px;
    width: 100px;
  }
}
